@font-face
{
	font-family: 'TeX Gyre Chorus';
	font-style: normal;
	font-weight: 400;
	src: url('../resource/font/texgyrechorus-mediumitalic.otf');
	font-display: swap;
}

:root
{
	--background-color: #202020;
	--foreground-color: #f0f0f0;
	--border-color: #808080;

	--selection-color: #f0f080;
	--selection-image-color: #f0f08044;

	--neon-header-color: #ff4040;
	--neon-matrix-color: #00c000;
	--neon-title-color: #c0c000;
	--neon-caution-color: #ff40ff;
	--neon-link-color: #44aaff;
	--neon-link-visited-color: #00cccc;

	--button-color: #f0f0f020;
	--button-focus-color: #54789a80;
	--button-active-color: #347c5480;

	--format-color: #f0dfac;

	--menu-width: 210px;
	--menu-height: 50px;
	--menu-gap: 10px;
}

@media (max-width: 410px)
{
	:root
	{
		--menu-width: 190px;
	}
}

*
{
	box-sizing: border-box;
	max-height: 999999px;
	font: inherit;
	letter-spacing: 0.125px;

	text-rendering: geometricPrecision;
	shape-rendering: geometricPrecision;
}

body
{
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	font: 15px 'Roboto', sans-serif;
	line-height: 1;

	min-height: calc(100vh - 20px);
	margin: 10px;

	display: grid;
	grid-template-rows: max-content max-content max-content max-content max-content 1fr max-content;
	row-gap: 20px;

	background-color: var(--background-color);
	color: var(--foreground-color);
}

::selection
{
	background-color: var(--selection-color);
	color: var(--background-color);
}

img::selection
{
	background-color: var(--selection-image-color);
}

br::selection
{
	background-color: transparent;
	color: transparent;
}

.selectable
{
	user-select: text;
}

.unselectable
{
	user-select: none;
}

:focus
{
	outline: none !important;
}

a
{
	color: inherit;
	text-decoration: none;
}

img
{
	object-fit: contain;
	width: max-content;
	max-width: 100%;
	backface-visibility: hidden;
}

button,
input
{
	padding: 10px;
}

iframe
{
	display: block;
	width: 100%;
	border: none;
}

.version
{
	color: var(--selection-color);
}

.format
{
	color: var(--format-color);
}

.br00
{
	content: '';
	display: block;

	line-height: 0;
	margin-bottom: 0;
}

.br05
{
	content: '';
	display: block;

	line-height: 0;
	margin-bottom: 5px;
}

.br10
{
	content: '';
	display: block;

	line-height: 0;
	margin-bottom: 10px;
}

.br20
{
	content: '';
	display: block;

	line-height: 0;
	margin-bottom: 20px;
}

.br40
{
	content: '';
	display: block;

	line-height: 0;
	margin-bottom: 40px;
}

canvas-stars
{
	position: fixed;
	z-index: -99;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

canvas-stars > canvas
{
	width: 100%;
	height: 100%;

	display: inline-block;
	vertical-align: top;
}

header-double
{
	padding: 0 20px 20px 20px;
	text-align: center;

	color: var(--border-color);
	border: 2px solid var(--border-color);
	border-top-width: 0;
	border-radius: 0 0 8px 8px;
}

.header-double-1
{
	font-size: 300%;
	font-weight: 500;
	letter-spacing: 0.25px;
}

.header-double-2
{
	font-family: 'TeX Gyre Chorus', serif;
	font-size: 160%;
	letter-spacing: 1px;
}

.header-double-light
{
	color: var(--foreground-color);
	border-color: var(--foreground-color);

	filter:
		drop-shadow(0 0 2px var(--neon-header-color))
		drop-shadow(0 0 4px var(--neon-header-color));
}

grid-flexible
{
	display: grid;
	justify-content: center;
	text-align: center;
}

fieldset-elliptic
{
	position: relative;
}

.fieldset-elliptic
{
	margin: -5px 0;
	padding: 0;

	border-top: 2px solid var(--foreground-color);
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;

	filter:
		drop-shadow(0 0 2px var(--neon-title-color))
		drop-shadow(0 0 4px var(--neon-title-color));
}

.fieldset-elliptic-legend
{
	margin: 0 auto;
	padding: 15px 30px;

	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-left: 2px solid var(--foreground-color);
	border-right: 2px solid var(--foreground-color);
	border-radius: 25%;

	transition: padding 0.5s linear;
}

.fieldset-elliptic-legend:hover
{
	padding: 15px 70px;
}

@media (max-width: 410px)
{
	.fieldset-elliptic-legend:hover
	{
		padding: 15px 30px;
	}
}

.separator-natty-horizontal
{
	display: grid;
	grid-template-columns: auto 2px auto;
	grid-template-rows: max-content;
	column-gap: 10px;

	width: 100%;
	margin: 0 auto;
}

.separator-natty-vertical
{
	display: grid;
	grid-template-rows: auto 2px auto;
	grid-template-columns: max-content;
	row-gap: 10px;

	height: 100%;
	margin: auto 0;
}

.separator-natty-line-horizontal
{
	width: 100%;
	height: 2px;
	margin: 0 auto;

	border-top: 2px solid var(--border-color);
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}

.separator-natty-line-vertical
{
	width: 2px;
	height: 100%;
	margin: auto 0;

	border-top-width: 0;
	border-bottom-width: 0;
	border-left: 2px solid var(--border-color);
	border-right-width: 0;
}

.separator-natty-circle
{
	margin: -6px;

	border: 2px solid var(--border-color);
	border-radius: 50%;
}

label-half
{
	position: relative;

	display: flex;
	align-items: center;
	padding: 10px 0 10px 10px;
}

.label-half-unlit
{
	border-top: 2px solid var(--border-color);
	border-bottom: 2px solid var(--border-color);
	border-left: 2px solid var(--border-color);
	border-right-width: 0;
	border-radius: 4px 0 0 4px;
}

.label-half-neon
{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	border-top: 2px solid var(--foreground-color);
	border-bottom: 2px solid var(--foreground-color);
	border-left: 2px solid var(--foreground-color);
	border-right-width: 0;
	border-radius: 4px 0 0 4px;
}

.label-half-tail
{
	margin-left: auto;
}

label-full
{
	display: flex;
	align-items: center;
	padding: 10px;

	border: 2px solid var(--border-color);
	border-radius: 4px;
}

.label-full-tail
{
	margin-left: auto;
	margin-right: 10px;
}

.span-description-up,
.span-description-dw
{
	font-family: 'Roboto Serif', serif;
	font-weight: 425;
	line-height: 1.5;

	display: inline-block;
	text-align: left;
	vertical-align: middle;
	white-space: pre-line;

	background-color: var(--foreground-color);
	color: var(--background-color);

	padding: 10px;
	overflow: hidden;
}

.span-description-up::before,
.span-description-dw::before
{
	content: '';
	display: block;

	margin-top: -4px;
}

.span-description-up::after,
.span-description-dw::after
{
	content: '';
	display: block;

	margin-bottom: -4px;
}

.span-description-up
{
	border-radius: 4px 4px 0 0;
}

.span-description-dw
{
	border-radius: 0 0 4px 4px;
}

.href-ocean
{
	display: grid;

	text-shadow:
		0 0 4px var(--neon-link-color),
		0 0 8px var(--neon-link-color);
}

.href-ocean:hover,
.href-ocean:visited:hover
{
	text-shadow:
		0 0 4px var(--selection-color),
		0 0 8px var(--selection-color);
}

.href-ocean:visited
{
	text-shadow:
		0 0 4px var(--neon-link-visited-color),
		0 0 8px var(--neon-link-visited-color);
}

.href-caution
{
	display: grid;

	text-shadow:
		0 0 4px var(--neon-caution-color),
		0 0 8px var(--neon-caution-color);
}

.href-caution:hover,
.href-caution:visited:hover
{
	text-shadow:
		0 0 4px var(--selection-color),
		0 0 8px var(--selection-color);
}

.href-caution:visited
{
	text-shadow:
		0 0 4px var(--neon-link-visited-color),
		0 0 8px var(--neon-link-visited-color);
}

.href-button
{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	padding: 10px;

	background-color: var(--button-color);
	color: var(--foreground-color);
	border-radius: 4px;
}

.href-button:hover
{
	background-color: var(--foreground-color);
	color: var(--background-color);
}

input-text
{
	display: grid;
}

.input-text
{
	padding: 10px 0;
	text-align: center;

	background-color: var(--background-color);
	color: var(--foreground-color);

	border: 2px dashed var(--border-color);
	border-radius: 4px;
}

.input-text:hover
{
	background-color: var(--foreground-color);
	color: var(--background-color);
	border-color: var(--background-color);
}

.input-text:focus
{
	background-color: var(--background-color);
	color: var(--foreground-color);
	border-color: var(--selection-color);
}

input-int
{
	display: flex;
}

.input-int-input
{
	padding: 10px 0;
	text-align: center;

	background-color: var(--background-color);
	color: var(--foreground-color);

	border-top: 2px dashed var(--border-color);
	border-bottom: 2px dashed var(--border-color);
	border-left-width: 0;
	border-right-width: 0;
}

.input-int-input:hover
{
	background-color: var(--foreground-color);
	color: var(--background-color);
	border-color: var(--background-color);
}

.input-int-input:focus
{
	background-color: var(--background-color);
	color: var(--foreground-color);
	border-color: var(--selection-color);
}

.input-int-button-b,
.input-int-button-n
{
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--button-color);
	border-width: 0;
}

.input-int-button-b
{
	border-radius: 4px 0 0 4px;
}

.input-int-button-n
{
	border-radius: 0 4px 4px 0;
}

.input-int-button-b:hover,
.input-int-button-n:hover
{
	background-color: var(--foreground-color);
}

.input-int-button-b:active,
.input-int-button-n:active
{
	background-color: var(--button-active-color);
}

.input-int-button-b:disabled,
.input-int-button-n:disabled
{
	background-color: var(--button-color);
}

.input-int-img
{
	fill: var(--foreground-color);
}

.input-int-button-b:hover > .input-int-img,
.input-int-button-n:hover > .input-int-img
{
	fill: var(--background-color);
}

.input-int-button-b:active > .input-int-img,
.input-int-button-n:active > .input-int-img
{
	fill: var(--foreground-color);
}

.input-int-button-b:disabled > .input-int-img,
.input-int-button-n:disabled > .input-int-img
{
	fill: var(--border-color);
}

limiter-page_items
{
	display: grid;
	row-gap: 10px;
}

.limiter-page_items-top
{
	display: grid;
	grid-template-columns: max-content max-content max-content max-content;
	column-gap: 10px;
	justify-content: center;
	justify-items: center;
}

.limiter-page_items-bottom
{
	display: grid;
	grid-template-columns: max-content max-content max-content;
	column-gap: 10px;
	justify-content: center;
	justify-items: center;
}

@media (max-width: 420px)
{
	.limiter-page_items-top
	{
		display: grid;
		grid-template-columns: max-content max-content;
		gap: 10px;
		justify-content: center;
		justify-items: center;
	}

	.limiter-page_items-bottom
	{
		display: grid;
		grid-template-columns: max-content;
		gap: 10px;
		justify-content: center;
		justify-items: center;
	}
}

video-youtube
{
	width: 100%;
}

.video-youtube-iframe
{
	aspect-ratio: 16 / 9;

	opacity: 0.98;
}

button-menu
{
	display: none;
}

.button-menu
{
	position: relative;
}

.button-menu-0
{
	display: flex;
	align-items: center;

	width: 100%;
	height: 100%;

	background-color: var(--button-color);
	color: var(--foreground-color);
	border-width: 0;
	border-radius: 4px 4px 12px 4px;
}

.button-menu-1
{
	display: flex;
	align-items: center;

	width: calc(100% - 12px);
	height: 100%;
	padding: 10px;

	background-color: transparent;
	color: var(--foreground-color);
	border-width: 0;
	border-radius: 4px 4px 12px 4px;
}

.button-menu-0:hover
{
	backdrop-filter: invert(100%);
	color: var(--background-color);
}

@supports not (backdrop-filter: invert(100%))
{
	.button-menu-0:hover
	{
		background-color: var(--foreground-color);
	}
}

.button-menu-1:hover
{
	background-color: var(--foreground-color);
	color: var(--background-color);
}

.button-menu:focus-within > .button-menu-0,
.button-menu:focus-within > .button-menu-1
{
	backdrop-filter: none;

	background-color: var(--button-focus-color);
	color: var(--foreground-color);
}

.button-menu-image-left
{
	margin-right: 10px;
	fill: var(--foreground-color);
}

.button-menu-0:hover > .button-menu-image-left,
.button-menu-1:hover > .button-menu-image-left
{
	fill: var(--background-color);
}

.button-menu:focus-within > .button-menu-0 > .button-menu-image-left,
.button-menu:focus-within > .button-menu-1 > .button-menu-image-left
{
	fill: var(--foreground-color);
}

.button-menu-image-right
{
	margin-top: -8px;
	margin-left: auto;

	fill: var(--foreground-color);
	transition: transform 0.5s linear;
}

.button-menu-0:hover > .button-menu-image-right,
.button-menu-1:hover > .button-menu-image-right
{
	fill: var(--background-color);
	transform: translateY(8px);
}

.button-menu:focus-within > .button-menu-0 > .button-menu-image-right,
.button-menu:focus-within > .button-menu-1 > .button-menu-image-right
{
	fill: var(--foreground-color);
	transform: translateY(8px) rotate(180deg);
}

.button-menu-0-context,
.button-menu-1-context
{
	position: absolute;
	z-index: 99;

	display: none;
	row-gap: 5px;

	width: 100%;
	padding: 4px;

	background-color: var(--background-color);
	border: 2px solid var(--border-color);
	border-radius: 4px;
}

.button-menu-0-context
{
	margin-top: 4px;
}

.button-menu-1-context
{
	top: 0;
	margin-top: -6px;
	margin-left: calc(100% - 8px);
}

.button-menu:focus-within > .button-menu-0-context,
.button-menu:focus-within > .button-menu-1-context
{
	display: grid;
}

button-path
{
	display: none;
}

.button-path
{
	display: flex;
	align-items: center;
	padding: 10px;

	background-color: var(--button-color);
	border-radius: 4px 20px 20px 4px;
}

.button-path:last-child
{
	background-color: var(--button-active-color);
}

.button-path:hover
{
	backdrop-filter: invert(100%);
	color: var(--background-color);
}

@supports not (backdrop-filter: invert(100%))
{
	.button-path:hover
	{
		background-color: var(--foreground-color);
	}
}

.button-path:last-child:hover
{
	backdrop-filter: none;

	background-color: var(--button-active-color);
	color: var(--foreground-color);
}

.button-path-image-right
{
	display: flex;
	margin-left: auto;

	fill: var(--foreground-color);
	transition: rotate 0.5s linear;
}

.button-path:hover > .button-path-image-right
{
	fill: var(--background-color);
	rotate: 90deg;
}

.button-path-image-left
{
	margin-right: 10px;
	fill: var(--foreground-color);
}

.button-path:hover > .button-path-image-left
{
	fill: var(--background-color);
}

.button-path:last-child:hover > .button-path-image-left,
.button-path:last-child:hover > .button-path-image-right
{
	fill: var(--foreground-color);
}

title-top
{
	visibility: hidden;

	display: flex;
	flex-wrap: wrap;
	white-space: pre;
}

.title-top-real
{
	z-index: -1;
	position: absolute;
	width: max-content;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.title-top-char
{
	font-size: 160%;
	font-weight: 500;
	letter-spacing: 0.25px;

	color: var(--border-color);

	transition:
		color 0.5s linear,
		filter 0.5s linear;
}

.title-top-char-light
{
	color: var(--foreground-color);
	filter:
		drop-shadow(0 0 2px var(--neon-title-color))
		drop-shadow(0 0 4px var(--neon-title-color))
		drop-shadow(0 0 12px var(--neon-title-color));

	transition:
		color 0.5s linear,
		filter 0.5s linear;
}

button-branch
{
	display: none;
}

.button-branch
{
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--button-color);
	border-radius: 50%;
}

.button-branch:hover
{
	backdrop-filter: invert(100%);
	color: var(--background-color);
}

@supports not (backdrop-filter: invert(100%))
{
	.button-branch:hover
	{
		background-color: var(--foreground-color);
	}
}

.button-branch-image
{
	position: absolute;
	width: 100%;
	height: 100%;

	fill: var(--foreground-color);

	animation-name: button-branch-image_rotate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.button-branch-image-wrapper2
{
	height: 100%;
	rotate: 30deg;
}

@keyframes button-branch-image_rotate
{
	from
	{
		rotate: 0deg;
	}

	to
	{
		rotate: 360deg;
	}
}

.button-branch-image-top,
.button-branch-image-bottom,
.button-branch-image-left,
.button-branch-image-right
{
	position: absolute;
	transition:
		top 0.5s linear,
		bottom 0.5s linear,
		left 0.5s linear,
		right 0.5s linear,
		rotate 0.5s linear;

	filter:
		drop-shadow(0 0 1px var(--neon-link-visited-color))
		drop-shadow(0 0 2px var(--neon-link-visited-color));
}

.button-branch-image-top
{
	top: 36px;
	right: 36px;
	rotate: 225deg;
}

.button-branch-image-bottom
{
	bottom: 36px;
	left: 36px;
	rotate: 225deg;
}

.button-branch-image-left
{
	top: 36px;
	left: 36px;
	rotate: 225deg;
}

.button-branch-image-right
{
	bottom: 36px;
	right: 36px;
	rotate: 225deg;
}

.button-branch:hover > .button-branch-image
{
	fill: var(--background-color);
}

.button-branch:hover > .button-branch-image .button-branch-image-top,
.button-branch:hover > .button-branch-image .button-branch-image-bottom,
.button-branch:hover > .button-branch-image .button-branch-image-left,
.button-branch:hover > .button-branch-image .button-branch-image-right
{
	filter: none;
}

.button-branch:hover > .button-branch-image .button-branch-image-top
{
	rotate: 45deg;
}

.button-branch:hover > .button-branch-image .button-branch-image-bottom
{
	rotate: 45deg;
}

.button-branch:hover > .button-branch-image .button-branch-image-left
{
	rotate: 405deg;
}

.button-branch:hover > .button-branch-image .button-branch-image-right
{
	rotate: 405deg;
}

frame-main
{
	grid-template-columns: 100%;
	row-gap: var(--menu-gap);

	justify-content: center;
	justify-items: center;
	text-align: center;

	will-change: scroll;
}

.frame-main-container
{
	display: grid;
	grid-template-columns: 100%;

	justify-content: center;
	justify-items: center;
	text-align: center;
}

footer-single
{
	font-size: 93.75%;

	padding: 20px 20px 0 20px;
	text-align: center;

	border: 2px solid var(--border-color);
	border-bottom-width: 0;
	border-radius: 8px 8px 0 0;
}

.footer_single_sign
{
	font-family: 'Roboto Mono', monospace;
	word-break: break-all;
	white-space: pre-wrap;
}

.footer_single_sign > span
{
	display: inline-block;
	min-width: 9px;
	max-width: 9px;
}

#grid_menu_main
{
	margin-bottom: -5px;
}

#grid_path_main
{
	margin-top: -5px;
}

#footer_single_main
{
	margin-top: -20px;
}