header-double
{
	padding: 0 20px 20px 20px;
	text-align: center;

	color: var(--border-color);
	border: 2px solid var(--border-color);
	border-top-width: 0;
	border-radius: 0 0 8px 8px;
}

.header-double-1
{
	font-size: 300%;
	font-weight: 500;
	letter-spacing: 0.25px;
}

.header-double-2
{
	font-family: 'TeX Gyre Chorus', serif;
	font-size: 160%;
	letter-spacing: 1px;
}

.header-double-light
{
	color: var(--foreground-color);
	border-color: var(--foreground-color);

	filter:
		drop-shadow(0 0 2px var(--neon-header-color))
		drop-shadow(0 0 4px var(--neon-header-color));
}