header-double
{
	padding: 20px;
	text-align: center;

	color: var(--border-color);
	border: 2px solid var(--border-color);
	border-radius: 8px;
}

.header-double-1
{
	font-size: 48px;
	line-height: 48px;
	font-weight: 500;
}

.header-double-2
{
	font: 25px/25px 'TeX Gyre Chorus', serif;
	letter-spacing: 0.25px;
}

.header-double-light
{
	color: var(--foreground-color);
	border-color: var(--foreground-color);

	filter:
		drop-shadow(0 0 2px var(--header-color))
		drop-shadow(0 0 3px var(--header-color))
		drop-shadow(0 0 4px var(--header-color));
}