:root
{
	--background-color: #0f0f0f;
	--foreground-color: #f0f0f0;
	--border-out-color: #808080;

	--selection-color: #f0f080;
	--selection-image-color: #f0f08044;
}

*
{
	box-sizing: border-box;
	max-height: 999999px;
	font: inherit;
	letter-spacing: 0.125px;

	text-rendering: geometricPrecision;
	shape-rendering: geometricPrecision;
}

body
{
	line-height: 1;

	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	background-color: var(--background-color);
	color: var(--foreground-color);
}

::selection
{
	background-color: var(--selection-color);
	color: var(--background-color);
}

img::selection
{
	background-color: var(--selection-image-color);
}

:root
{
	--border-in-color: #484848;

	--link-color: #b0d0f0;
	--link-visited-color: #77baa2;
}

body
{
	font: 15px 'Roboto', sans-serif;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;

	margin: 0;
	padding: 10px;

	min-height: 100vh;
}

fieldset
{
	display: grid;
	grid-auto-columns: minmax(min-content, max-content);
	row-gap: 10px;

	margin: 0;
	padding: 15px;

	border: 2px solid var(--border-out-color);
	border-radius: 4px;
}

fieldset > fieldset
{
	border-color: var(--border-in-color);
}

legend
{
	margin: 0 auto;
	padding: 0 15px;
}

a
{
	color: var(--link-color);
	text-decoration: none;
}

a:visited
{
	color: var(--link-visited-color);
}

a:hover,
a:visited:hover
{
	color: var(--selection-color);
}