#error_code_404
{
	display: inline-block;
	padding: 5px 10px;

	background-color: var(--foreground-color);
	color: var(--background-color);
	border-radius: 4px;

	animation: error_code_404_animation 2s linear infinite;
}

@keyframes error_code_404_animation
{
	0%
	{
		opacity: 0;
	}

	25%
	{
		opacity: 1;
	}

	75%
	{
		opacity: 1;
	}

	100%
	{
		opacity: 0;
	}
}