input-int
{
	display: flex;
}

.input-int-input
{
	padding: 10px 0;
	text-align: center;

	background-color: var(--background-color);
	color: var(--foreground-color);

	border-top: 2px dashed var(--border-color);
	border-bottom: 2px dashed var(--border-color);
	border-left-width: 0;
	border-right-width: 0;
}

.input-int-input:hover
{
	background-color: var(--foreground-color);
	color: var(--background-color);
	border-color: var(--background-color);
}

.input-int-input:focus
{
	background-color: var(--background-color);
	color: var(--foreground-color);
	border-color: var(--selection-color);
}

.input-int-button-b,
.input-int-button-n
{
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--button-color);
	border-width: 0;
}

.input-int-button-b
{
	border-radius: 4px 0 0 4px;
}

.input-int-button-n
{
	border-radius: 0 4px 4px 0;
}

.input-int-button-b:hover,
.input-int-button-n:hover
{
	background-color: var(--foreground-color);
}

.input-int-button-b:active,
.input-int-button-n:active
{
	background-color: var(--button-active-color);
}

.input-int-button-b:disabled,
.input-int-button-n:disabled
{
	background-color: var(--button-color);
}

.input-int-img
{
	fill: var(--foreground-color);
}

.input-int-button-b:hover > .input-int-img,
.input-int-button-n:hover > .input-int-img
{
	fill: var(--background-color);
}

.input-int-button-b:active > .input-int-img,
.input-int-button-n:active > .input-int-img
{
	fill: var(--foreground-color);
}

.input-int-button-b:disabled > .input-int-img,
.input-int-button-n:disabled > .input-int-img
{
	fill: var(--border-color);
}